<div class="profile-wrapper">

  <div class="profile-header">
    <div class="cover-photo" style="background-image: url(<%= image_path("bg.png") %>)">
        &nbsp;
    </div>
    <div class="avatar">
        <%= holder_tag '120x120'%>
    </div>
    <div class="actions">
        <button class="btn btn-default">Lol</button>
        <button class="btn btn-default">Lol</button>
        <button class="btn btn-default">Lol</button>
    </div>
  </div>

</div>