<div class="tile calendar-form-color-preview card effect__click" >
  <div class="card__front">
    <span class="tile-title card__text">New</span>
  </div>
  <div class="card__back">
    <div class="new-calendar-ajax card__text">
      <%= render 'calendar/fast_new_form' %>
    </div>
  </div>
</div>