<div class="pagina">
    <div class="linha">
        <% @calendars.each do |calendar| %>
            <a class='tile' style="background-color:<%=  calendar.color%>" href="<%= url_for :controller => 'calendar', :action => 'month', :token => calendar.token %>">
                <span class="tile-title"><%= calendar.name %></span>
            </a>
        <% end %>
        <%= render partial: 'new_calendar_tile' %>
    </div>
</div>