<div class="content-wrapper">
    <div class="content-header">
      <%= t('nav.calendar.calendar')%>
      <div class="content-actions"><button class="btn btn-default">Test 1</button></div>
    </div>
    <div class="content-body">
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default">
            dqw
          </div>
        </div>
        <div class="col-md-9">
          <div class="panel panel-default">
            <div id="calendar"></div>
          </div>
        </div>
      </div>
    </div>
</div>