<div class="pagina">

    <% count = 0%>
    <% bigTiles = 0%>
    <div class="linha">
    <% @rooms.each do |room| %>
        <% if (count%5 == 0) %>
            </div>
            <div class="linha">
        <% end %>

        <% if bigTiles == 0 %>
            <div title = "<%= room.name %>" class="tile tileLargo" style="background-size: 100% 100%; background-image: url('<%=  room.attachment.url%>')"></div>
            <% bigTiles = 8%>
        <% else %>
            <div title = "<%= room.name %>" class="tile"  style="background-size: 100% 100%; background-image: url('<%=  room.attachment.url%>')"></div>
            <% bigTiles -= 1%>
        <% end %>


        <%count += 1%>
    <% end%>
    <% if (count%5 > 0) %>
        </div>
    <% end%>

</div>

