.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.unread {
  background-color: lightblue;
}

.message-left {
  clear:both;
  float:left;
}
.message-right {
  clear:both;
  float:right;
}