.day  {
  background-color: white;
  width: 120px;
  height: 70px;
}

.today {
  background: lightblue;
  border: 1px solid darkblue;
}

.date {
  float: right;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  padding: 5px;
  text-align: center;
}

.today > .date {
  background-color: red;
  color: #ffffff;
}

.calendar-header {
  text-align: center;
  color: white;
  font-size: 22pt;
  height: 50px;
}

.prev-month, .next-month {
  background-color: darkgray;
}


