.day  {
  background-color: white;
  width: 120px;
  height: 70px;
}

.today {
  background: lightblue;
  border: 1px solid darkblue;
}

.date {
  float: right;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  padding: 5px;
  text-align: center;
}

.today > .date {
  background-color: red;
  color: #ffffff;
}

.calendar-header {
  text-align: center;
  color: white;
  font-size: 22pt;
  height: 50px;
}

.prev-month, .next-month {
  background-color: darkgray;
}


.pagina {
  width: auto;
  height: auto;
}

.linha {
  width: 800px;
  height: auto;
  margin: 0 auto;
  display: table;
}

.tile {
  height: 195px;
  width: 195px;
  float: left;
  margin: 5px 5px 0 0;
  padding: 2px;
  background-color: white;
  overflow: hidden;
  border-radius: 100px;
  vertical-align:middle;
  display:table;
  text-decoration: none;
}

.tile form {
  background-color: transparent;
}

.tile-title {
  font-size: 300%;
  vertical-align:middle;
  margin:10px 10px 0 0;
  white-space: nowrap;
  display: table-cell;
  text-align: center;
}




/***************************
************* New Calendar
***************************/

.new-calendar-ajax {
  background-color: transparent;
}

.new-calendar-ajax-form {
  height: 99%;
  width: 99%;
  position: absolute;

}

#calendar-form-color-preview {
  border: 1px solid black;

  border-radius: 5px;
}