<div class="aside-inner">
    <nav class="sidebar">
        <ul class="nav panel-group" id="top_nav_lol">
            <li class="nav-heading">
                <span><%= t('main_navigation_headers')%></span>
            </li>
            <li class="active panel" >
                <a href="#dashboard" data-toggle="collapse" data-parent="#top_nav_lol" >
                    <div class="pull-right label label-info">3</div>
                    <em class="fa fa-tachometer"></em>
                    <span data-localize="sidebar.nav.DASHBOARD">Dashboard</span>
                </a>
                <ul id="dashboard" class="nav sidebar-subnav collapse">
                    <li class="sidebar-subnav-header">Dashboard</li>
                    <li class=" active">
                        <a href="dashboard.html" title="Dashboard v1">
                            <span>Dashboard v1</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="dashboard_v2.html" title="Dashboard v2">
                            <span>Dashboard v2</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="dashboard_v3.html" title="Dashboard v3">
                            <span>Dashboard v3</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="panel">
                <a href="#second" data-toggle="collapse" data-parent="#top_nav_lol">
                    <div class="pull-right label label-info">3</div>
                    <em class="fa fa-tachometer"></em>
                    <span data-localize="sidebar.nav.DASHBOARD">Dashboard</span>
                </a>
                <ul id="second" class="nav sidebar-subnav collapse">
                    <li class="sidebar-subnav-header">Dashboard</li>
                    <li class=" ">
                        <a href="dashboard.html" title="Dashboard v1">
                            <span>Dashboard v1</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="dashboard_v2.html" title="Dashboard v2">
                            <span>Dashboard v2</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="dashboard_v3.html" title="Dashboard v3">
                            <span>Dashboard v3</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>


