.profile-wrapper {
  height: 100%;
  .profile-header {
    position: relative;
    height: 30%;
    .cover-photo {
      position: absolute;
      width: 100%;
      height: 93%;
      background-size: cover;
    }
    .avatar {
      position: absolute;
      bottom: 0;
      left: 5%;

      img {
        width: 120px;
        height: 120px;
      }
    }

    .actions {
      position: absolute;
      bottom: 10%;
      right: 5%;
    }
    .name {
      position: absolute;
      bottom: 10%;
      left: 20%;
      h1 {
        color: white;
      }
    }
  }
  .information-bar {
    margin: -1.3% 0 0 0;
    background-color: lightblue;
    height: 10%;

    div {
      height: 100%;
      border-right: 2px solid black;
    }
    div:last-child {
      border-right: 0;
    }

    h1 {
      text-align: center;
    }
  }
}